* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a:hover {
    opacity: 0.5;
    transition: 0.3s;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5; 
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

ul {
    list-style: none;
}
section {
    width: 50%;
    padding: 40px 0;
}
section:nth-child(2n) {
    padding-right: 20px;
}
h1{
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 10px;
    line-height: 50px;
    word-spacing: 3px;
}
h2 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #7d9cb6;
}
span {
    opacity: 40%;
}
code {
    display: block;
    line-height: 2;
    margin-top: -73px;
    height: fit-content;
}
pre {
    height: fit-content;
}
address {
    font-style: normal;
}
.main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header {
    background-color: #c1d3e2;
    
}


.header__list {
    display: flex;
    justify-content: flex-end;
    height: 80px;
    align-items: center;
}

.header__item:not(:last-child) {
    padding-right: 25px;
}

.person {
    border-bottom: 2px solid #c1d3e2;
    width: 100%;
}
.person > .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.person__image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: 0.5s;
    border-radius: 50%;
    border: 2px solid #7d9cb6;
}
.person__image:hover {
    width: 300px;
    height: 300px;
    object-fit: cover;
    transition: 0.5s;
}
.person__title {
    text-align: center;
    margin-bottom: 30px;
    position: relative;
}
.person__title::after{
    content: '';
    width: 200px;
    height: 3px;
    background-color: #c1d3e2;
    position: absolute;
    left: calc(50% - 100px);
    bottom: -15px;
}
.person__descr {
    text-align: center;
}

.contacts__item {
    padding-left: 25px;
    margin-bottom: 12px;
    position: relative;
}
.contacts__item:first-child::before {
    content: '';
    background-image: url(./image/home-location.svg);
    position: absolute;
    top: 3px;
    left: 0px;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
}
.contacts__item:nth-child(2)::before {
    content: '';
    background-image: url(./image/apple-iphone-app.svg);
    position: absolute;
    top: 3px;
    left: 0px;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
}
.contacts__item:nth-child(3)::before {
    content: '';
    background-image: url(./image/github.svg);
    position: absolute;
    top: 3px;
    left: 0px;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
}
.summary__descr {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

.skills__item {
    padding-left: 25px;
    position: relative;
}
.skills__item:not(:last-child) {
    margin-bottom: 12px;
}
.skills__item::before {
    content: '';
    background-image: url(./image/check-mark-circle.svg);
    position: absolute;
    top: 5px;
    left: 0px;
    width: 15px;
    height: 15px;
    background-size: 15px 15px;
    opacity: 20%;
}
.education__descr:not(:last-child) {
    margin-bottom: 12px;
}
.expirience__item:not(:last-child) {
    margin-bottom: 12px;
}

.footer {
    padding: 20px 0;
    width: 100%;
    background-color: #c1d3e2;
}
.footer > .container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.footer__logo {
    width: 121px;
    height: 45px;
}
.footer__link {
    padding: 0 15px;
}

.person > .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
